<div style="padding-left: 20px; padding-right: 20px;">
    <br />
    <div>
        <div style="float:left;">
            <p style="font-size: 24px;">
                Usuarios
            </p>
        </div>
    </div>
    <div style="clear: both;"></div>
    <table class="u-full-width">
        <thead>
            <tr>
                <th>NombreUsuario</th>
                <th>IdAlumno/IdDocente</th>
                <th>UltimaFechaInicioSesion</th>
                <th>Bloqueado</th>
                <th>EsDocente</th>
                <th>EsAdministrador</th>
                <th>Nombre Alumno/Docente</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usuario in vm.Usuarios">
                <td>{{usuario.NombreUsuario}}</td>
                <td>{{usuario.IdDatos}}</td>
                <td>{{usuario.UltimaFechaInicioSesion}}</td>
                <td>{{usuario.Bloqueado}}</td>
                <td>{{usuario.EsDocente}}</td>
                <td>{{usuario.EsAdministrador}}</td>
                <td>{{usuario.Nombre}}</td>
                <td style="cursor:pointer;"><i class="material-icons" ng-click="vm.DeleteItem('usuario',usuario);">remove</i></td>
            </tr>
        </tbody>
    </table>
</div>